html
  head
    title='Pluralsight is nice'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 I <3 you Mandy!!!
        p Lets actually see if this works
        p keep trying to get this to build...
        p Click the button below to head over to Nigel's podcast...
        p 
          a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
        p